#stars-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#difficulty-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 9999;
}

#difficulty-level {
  width: 600px;
  margin-bottom: 40px; 
  padding-bottom: 70px;
}

#float1 {
    animation: float 4s ease-in-out infinite;
}

#level-container {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.level-icon {
  width: 300px;
}

.level-icon:hover {
    transform: scale(1.1);
}

#easy-icon {
    width: 300px;
    animation: float 6s ease-in-out infinite;
    transition: transform 0.2s ease;
    filter: drop-shadow(0 0 10px #fffc3655);
}

#easy-icon:hover {
    transform: scale(1.3);
    cursor: pointer;
}

#hard-icon {
    width: 300px;
    animation: float 3s ease-in-out infinite;
    transition: transform 0.2s ease;
     filter: drop-shadow(0 0 10px #ff363655);
}

#hard-icon:hover {
    transform: scale(1.3);
    cursor: pointer;
}

#hardcore-icon {
    width: 300px;
    animation: float 5s ease-in-out infinite;
    transition: transform 0.2s ease;
    filter: drop-shadow(0 0 10px rgb(80, 0, 0));
}

#hardcore-icon:hover {
    transform: scale(1.3);
    cursor: pointer;
}

@keyframes float {
    0%   { margin-top: 0; }
    50%  { margin-top: -20px; }
    100% { margin-top: 0; }
}
